# Visual Studio 2015 user specific files

Copy.gitignore

.vs/
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Script/
TEST_HELPER/

Content/Test
Content/Game
Content/Developers
Content/Collections




